.App {
  border: 5px solid #443f5d;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: #443f5d;
  padding: 20px 30px 30px 30px;
}

.App-header-search {
  width: 60vw;
}
